{{#each post}}
            <div class="post-wrapper">
                <div class="post-vote-container">
                    {{#if upvoted}}
                    <div class="post-vote-up active">
                        <i class="fa fa-caret-up"></i>
                    </div>
                    <div class="post-vote-count">{{votes}}</div>
                    <div class="post-vote-down">
                        <i class="fa fa-caret-down"></i>
                    </div>
                    {{/if}}
                    {{#if downvoted}}
                    <div class="post-vote-up">
                        <i class="fa fa-caret-up"></i>
                    </div>
                    <div class="post-vote-count">{{votes}}</div>
                    <div class="post-vote-down active">
                        <i class="fa fa-caret-down"></i>
                    </div>
                    {{/if}}
                    {{#if notvoted}} 
                    <div class="post-vote-up">
                        <i class="fa fa-caret-up"></i>
                    </div>
                    <div class="post-vote-count">{{votes}}</div>
                    <div class="post-vote-down">
                        <i class="fa fa-caret-down"></i>
                    </div>
                    {{/if}}
                </div>
                <div class="post-container">
                    <h2 class="post-title">{{postTitle}}</h2>
                    <div class="post-author-container">
                        <div class="post_ID d-none">{{_id}}</div>
                        <img class="post-author-img" src="https://api.dicebear.com/6.x/avataaars/svg?seed=davidmiller" alt="@davidmiller">
                        <a href="/profile/{{postUserId}}" class="text-decoration-none">
                            <div class="post-author">@{{username}}</div>
                        </a>
                    </div>
                    <div class="post-content">
                        {{{postText}}}
                    </div>
                    <div class="footer-container">
                        <div class="tags-container">
                            {{#each postTags}}
                            <div class="tags">{{this}}</div>
                            {{/each}}                            
                        </div>
                        <div class="post-answers-count-container">
                            <i class="fa fa-comment-dots"></i>
                            <a href="../html/post.html" class="text-decoration-none">
                                <div class="post-answers-count">{{commentcount}} answers</div>
                            </a>
                        </div>
                    </div>
                    {{#if editablePost}}
                        <div class="post-controls-container">
                        <div class="edit-post"><i class="fa fa-pen me-2"></i>Edit</div>
                        <div class="delete-post"><i class="fa fa-trash me-2"></i>Delete</div>
                        </div>
                    {{/if}}
                </div>
            </div>
{{/each}}