<div class="bg-secondary m-4 ms-0 p-5 radius">
            <div class="d-flex mb-3">
            {{#if profilePicture}}
                <img src="{{profilePicture}}" alt="Profile picture" id="profile-img">
            {{else}}
                <img src="https://api.dicebear.com/6.x/avataaars/svg?seed=Aaron+Hall" alt="Profile picture" id="profile-img">
            {{/if}}
                <div class="d-flex flex-column ms-3">
                        <a href="/profile/{{username}}/userposts" class="text-decoration-none"><h4 id="profile-name">{{displayName}}<i class="fa fa-badge-check ms-3 text-accent"></i></h4></a>
                    <p id="profile-username">@{{username}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="color-text"><i class="fa fa-user-plus me-3"></i>{{nFormatter following.length 2}} Following</p>
                </div>
                <div class="col-6">
                    <p class="color-text"><i class="fa fa-users me-3"></i>{{nFormatter followers.length 2}} Followers</p>
                </div>
            </div>
            <p class="color-text mb-0 text-muted fw-semibold"><i class="fa fa-calendar me-3"></i>Joined {{formatJoinDate joindate}}</p>
    </div>
