<!DOCTYPE html>
<html lang="en" dark>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" 
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<!--    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css">
    <link rel="stylesheet" href="../css/snackbar.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/post.css">
    <link rel="stylesheet" href="../css/markdown.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cure53/DOMPurify/dist/purify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="../js/backend.js"></script>
    <script src="../js/snackbar.js"></script>
    <script src="../js/nFormatter.js"></script>
    <script src="../js/scripts.js"></script>
    <script src="../js/comment.js"></script>
</head>
<body>
<div class="row g-0">
    <div class="col-2">
        {{#> nav user}}
        {{/nav}}
    </div>
    <div class="col-7 px-5 mb-4">
        <div id="main-controls">
            <div id="post-search-group">
                <span class="fa fa-search" id="post-search-icon"></span>
                <input type="search" placeholder="Search" name="post-search" id="post-search">
            </div>
            <button id="btn-ask" data-bs-toggle="modal" data-bs-target="#modal-question">Ask Question</button>
            <button id="btn-mode-toggle"><i class="fa fa-moon"></i></button>
        </div>
        <div id="posts-container">
        {{#each post}}
            <div class="post-wrapper">
                <div class="post-vote-container">
                    <div class="post-vote-up">
                        <i class="fa fa-caret-up"></i>
                    </div>
                    <div class="post-vote-count">
                    {{#if (isNull upvotes) }}
                        {{#if (isNull downvotes) }}
                            0
                        {{/if}}
                    {{else}}
                        {{upvotes.length-downvotes.length}}
                    {{/if}}</div>
                    <div class="post-vote-down">
                        <i class="fa fa-caret-down"></i>
                    </div>
                </div>
                <div class="post-container">
                    <h2 class="post-title">{{postTitle}}</h2>
                    <div class="post-author-container">
                        <img class="post-author-img" src="https://api.dicebear.com/6.x/avataaars/svg?seed=davidmiller" alt="@davidmiller">
                        <div class="post-author">@{{postUserId}}</div>
                    </div>
                    <div class="post-content">
                        <p>{{postText}}</p>
                    </div>
                    <div class="footer-container">
                        <div class="tags-container">
                            {{#each postTags}}
                            <div class="tags">{{this}}</div>
                            {{/each}}                            
                        </div>
                        <div class="post-answers-count-container">
                            <i class="fa fa-comment-dots"></i>
                            <div class="post-answers-count">{{commentCount}}</div>
                        </div>
                    </div>
                    <div class="post-controls-container">
                        <div class="edit-post"><i class="fa fa-pen me-2"></i>Edit</div>
                        <div class="delete-post"><i class="fa fa-trash me-2"></i>Delete</div>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
        <div id="add-comment-wrapper">
            <div id="add-comment-container">
                <img class="profile-img" src="https://api.dicebear.com/6.x/avataaars/svg?seed=Aaron+Hall" alt="@aaronhall">
                <textarea id="addcommenttextarea" class="form-control" name="add-comment" placeholder="Write a comment …"></textarea>
            </div>
            <div id="add-comment-controls-container" class="d-none">
                <button type="button" class="btn btn-danger" id="btn-comment-discard">
                    <i class="fa fa-times me-2"></i>Discard</button>
                <button type="button" class="btn btn-success" id="btn_comment_send">
                    <i class="fa fa-paper-plane me-2"></i>Send</button>
            </div>
        </div>
        <div id="comments-container">
            <div class="comment-wrapper opened">
            {{#each comments}}
                <div class="comment-container">
                    <div class="comment-header-container">
                        <img class="comment-author-img" src="https://api.dicebear.com/6.x/avataaars/svg?seed=Aaron+Hall" alt="@aaronhall">
                        <div class="comment-author">@{{CommentUserId}}</div>
                        <div class="comment-header-separator">•</div>
                        <div class="comment-timestamp">{{Date}}</div>
                        <div class="comment_ID d-none">{{_id}}</div>
                    </div>
                    <div class="comment-content">
                        {{Body}}
                    </div>
                    <div class="comment-footer-container">
                        <div class="comment-votes-container">
                            <div class="comment-vote-up">
                                <i class="fa fa-arrow-up"></i>
                            </div>
                            <div class="comment-vote-count">
                    {{#if (isNull upvotes) }}
                        {{#if (isNull downvotes) }}
                            0
                        {{/if}}
                    {{else}}
                        {{upvotes.length-downvotes.length}}
                    {{/if}}</div>
                            <div class="comment-vote-down">
                                <i class="fa fa-arrow-down"></i>
                            </div>
                        </div>
                        <div class="comment-controls-container">
                            <div class="create-reply"><i class="fa fa-reply me-2"></i>Reply</div>
                            <div class="edit-reply"><i class="fa fa-pen me-2"></i>Edit</div>
                            <div class="delete-reply"><i class="fa fa-trash me-2"></i>Delete</div>
                            <div class="show-replies"><i class="fa fa-caret-down me-2"></i>Show More</div>
                        </div>
                    </div>
                </div>
                {{!-- Replies part --}}
                {{#each replies}}
                <div class="comment-container">
                    <div class="comment-header-container">
                        <img class="comment-author-img" src="https://api.dicebear.com/6.x/avataaars/svg?seed=Aaron+Hall" alt="@aaronhall">
                        <div class="comment-author">@{{replies.CommentUserId}}</div>
                        <div class="comment-header-separator">•</div>
                        <div class="comment-timestamp">{{replies.Date}}</div>
                        <div class="reply_ID d-none">{{replies._id}}</div>
                    </div>
                    <div class="comment-content">
                        {{replies.Body}}
                    </div>
                    <div class="comment-footer-container">
                        <div class="comment-votes-container">
                            <div class="comment-vote-up">
                                <i class="fa fa-arrow-up"></i>
                            </div>
                            <div class="comment-vote-count">
                    {{#if (isNull upvotes) }}
                        {{#if (isNull downvotes) }}
                            0
                        {{/if}}
                    {{else}}
                        {{upvotes.length-downvotes.length}}
                    {{/if}}</div>
                            <div class="comment-vote-down">
                                <i class="fa fa-arrow-down"></i>
                            </div>
                        </div>
                        <div class="comment-controls-container">
                            <div class="create-reply"><i class="fa fa-reply me-2"></i>Reply</div>
                            <div class="edit-reply"><i class="fa fa-pen me-2"></i>Edit</div>
                            <div class="delete-reply"><i class="fa fa-trash me-2"></i>Delete</div>
                            <div class="show-replies"><i class="fa fa-caret-down me-2"></i>Show More</div>
                        </div>
                    </div>
                </div>
                {{/each}}
            {{/each}}
            </div>
        </div>
    </div>
    <div class="col-3">
        {{#> rightuser user}}
        {{/rightuser}}
        <div class="p-5" id="right-container">
            <h3 class="mb-5">Trends for you</h3>
            <div class="d-flex flex-column" id="trends-container">
                <a href="#" class="mb-2">
                    <h6>Tech</h6>
                    <p class="text-muted fw-semibold">20.8k questions</p>
                </a>
                <a href="#" class="mb-2">
                    <h6>AR</h6>
                    <p class="text-muted fw-semibold">1.3k questions</p>
                </a>
                <a href="#" class="mb-2">
                    <h6>Cinema</h6>
                    <p class="text-muted fw-semibold">65k questions</p>
                </a>
            </div>
            <hr class="mb-4" />
            <div class="row" id="footer-container">
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <a href="/about" class="fw-semibold">About</a>
                        <a href="/privacy" class="fw-semibold">Contact Us</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <a href="/about" class="fw-semibold">Terms of Service</a>
                        <a href="/privacy" class="fw-semibold">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-xl" id="modal-question" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 m-0">Ask Question</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <form action="" id="form-post">
                            <div class="mb-3">
                                <label for="post-title-form" class="form-label">Title</label>
                                <input type="text" class="form-control" name="post-title" id="post-title-form" required="">
                            </div>
                            <div class="mb-3">
                                <label for="post-content-form" class="form-label">Content</label>
                                <textarea class="form-control" name="post-content" id="post-content-form" required="" rows="10"></textarea>
                                <p class="fs-6 fw-semibold text-muted"><a href="https://commonmark.org/help/">CommonMark Markdown</a> formatting is supported.</p>
                            </div>
                            <div class="mb-3">
                                <label for="post-tags-form" class="form-label">Tags</label>
                                <input type="text" class="form-control" name="post-tags-form" id="post-tags-form" required="">
                                <p class="fs-6 fw-semibold text-muted">Separate tags with a comma. Maximum of 5 tags allowed.</p>
                            </div>
                        </form>
                    </div>
                    <div class="col-6" id="post-preview-container">
                        <h2 class="post-title" id="post-title-preview"></h2>
                        <div class="post-content" id="post-content-preview"></div>
                        <div class="tags-container" id="tags-preview"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fa fa-trash me-2"></i>Discard</button>
                <button type="button" form="form-post" class="btn btn-success" id="btn-post-form">
                    <i class="fa fa-check me-2"></i>Publish</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>